/* Tomorrow Night */
/* $bg-color	       #1d1f21 */

/* Tomorrow Night Bright */
/* bg-color	       #080808 */
/* text-color          #cacaca */
/* inactive-text-color #969896 */

/* rails-color      #CC0000 */
/* laravel-color    #F05340 */
/* javascript-color #F0DB4F */
/* react-color      #61DBfB */
/* express-color    #68A063 */
/* mongodb-color    #4DB33D */
/* graphql-color:   #E535AB */

.rails {
  color: #cc0000;
}

.laravel {
  color: #f05340;
}

.graphql {
  color: #e535ab;
}

.javascript {
  color: #f0db4f;
}

.react {
  color: #61dbfb;
}

.express {
  color: #68a063;
}

.mongo {
  color: #4db33d;
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 2rem 0;
  font: 1.3rem/1.6 'Fira Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181818;
  color: #cacaca;
}

article {
  width: calc(50% + 2rem);
  margin-top: 2rem;
  /* border-top: 1px solid white; */
}

.pwrapper,
section {
  padding: 1rem;
  border: 1px solid white;
}

section {
  margin-bottom: 3rem;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h2,
h3 {
  font-weight: normal;
}

h1,
h2,
h3 {
  color: #cacaca;
}

h3 {
  display: flex;
  flex-wrap: wrap;
}

h3 > span.title {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: #cacaca;
  font-weight: normal;
  border-bottom: 1px solid white;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  article {
    width: 90%;
  }
}

.thumbnails {
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  list-style-type: none;
  margin-top: 1.5rem;
}

li,
img {
  height: 100%;
}

.thumbnail {
  cursor: pointer;
}

.links {
  position: relative;
  top: -2px;
}

section > p {
  margin-top: 1rem;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
