html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f3f4f4;

  font-weight: 400;
  color: #40454a;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Alegreya", serif;
}

main {
  margin: 2rem;
  padding: 2rem;
  width: 70%;
  background-color: white;
  border-radius: 6px;
}

h1 {
  color: #2f343b;
  font-size: 32px;
  letter-spacing: -0.8px;
  line-height: 1.5;

  margin: 0;
  margin-bottom: 15px;
  font-family: "Alegreya", sans-serif;
  font-weight: bold;
}

h1::selection,
a::selection,
p::selection,
strong::selection {
  color: #fff;
  background: #e02438;
}

a {
  color: #ca2032;
  border-bottom: 1px dotted #9a9a90;
  text-decoration: none;
  background: transparent;
  box-sizing: border-box;
}

hr {
  border: 0;
  border-top: 1px solid #dcdddd;
  margin: 10px 0 30px 0;
}

footer {
  display: flex;
  justify-content: center;
}

footer>a {
  margin-left: 3rem;
}